/*
 menu styles
 note: not all browsers render styles the same way so try out your style sheet
 in different browsers before publishing
*/

/* level 0 inner */
.m0l0iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	margin: 4px 0 0 8px;
	color: #000000;
	z-index : 98;
}
.m0l0iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	margin: 5px 0 0 8px;
	color: #000000;
	z-index : 98;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	background-image: url(img/lev0_bg1.gif);
	border: 1px solid #336699;
	background-color: #2C5F93;
	z-index : 98;
}
.m0l0oover {
	text-decoration : none;
	background-image: url(img/lev0_bg2.gif);
	background-color: #2C5F93;
	border: 1px solid #336699;
	z-index : 98;
}

/* level 1 inner */
.m0l1iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: #000000;
	z-index : 98;
}
.m0l1iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: #000000;
	z-index : 98;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	background-color: #c8d2dc;
	border: 1px solid #336699;
	padding: 0;
	z-index : 98;
}
.m0l1oover {
	text-decoration : none;
	background-color: #619FDE;
	background-image: url(img/lev1_arrow.gif);
	background-repeat: no-repeat;
	border: 1px solid #336699;
	padding: 0;
	z-index : 98;
}
#menubar{
  background-image: url(img/menu_bg.gif);
  width: 100%;
  height: 25px;
  //border-top:2px solid #336699; border-bottom:1px solid #336699;
  position:fixed; top:0px;
  _position: absolute; /* position fixed for IE6 */
  //_top:expression(documentElement.scrollTop+"px");
  z-index: 0;
}
#logo{
  background-image: url(img/logo.jpg);
  //background-repeat: no-repeat;
  width: 102px;
  height: 26px;
  position:fixed; top:0px; left: 0px;
  _position: absolute; /* position fixed for IE6 */
  z-index: 999;
}



